[Unit]
Description=sabakan
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
# RestartForceExitStatus=SIGPIPE is critically important for Go programs w/
# journald logging.  See https://github.com/cybozu-go/well/issues/13
RestartForceExitStatus=SIGPIPE
ExecStart=/usr/local/sbin/sabakan -config-file /usr/local/etc/sabakan.yml

[Install]
WantedBy=multi-user.target
