Host *
User cybozu
IdentityFile mtest_key
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
LogLevel ERROR

Host host1
HostName 10.0.0.101

Host host2
HostName 10.0.0.102

Host host3
HostName 10.0.0.103

Host worker
HostName 10.0.0.104
