[Unit]
Description=foo
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/echo aaa

[Install]
WantedBy=multi-user.target
